
$mobileBreakpoint: 425px;

:root {
    --background-color: linear-gradient(
      90deg,
      rgba(221, 201, 138, 1) 0%,
      rgba(244, 232, 193, 1) 50%,
      rgba(221, 201, 138, 1) 100%
    );

      --rich-color: #1a3127;

      --dark-green-border: #1a3127;

      --light-background: #99c6cf;

      --basic: #124e61;

      --basic-navigation: #124e61;

  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes shine {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }